{% extends 'main/xx.html' %}

{% block title %}sexshop{% endblock %}

{% load static %}

<link rel="stylesheet" href="{% static  'main/css/main.css' %}">

{% block sale %}
<main class="31648">
    Ви реально розраховували що тут щось буде? Ви помилялися, я дуже ленивий і не люблю робити однообразну і монотонну робуту яку я вмію робити. Можу вам предложити зіграти в ігру, хто найде 5 значне число на цій сторінці той отримає від мене 0.25 гривні, <h1 class="boom">УДАЧІ</h1>
</main>
{% endblock %}